---
import Layout from "../layouts/Layout.astro";
import Presentation from "../components/Presentation.astro";
import AboutMe from "../components/AboutMe.astro";
import Projects from "../components/Projects.astro";
import Techs from "../components/Techs.astro";
import Contact from "../components/Contact.astro";
import "src/global.css";
---

<Layout>
	<main class="mx-auto flex flex-col gap-40 lg:gap-y-64">
		<Presentation />
		<AboutMe />
		<Projects />
		<Techs />
		<Contact />
	</main>
</Layout>
