---

---

<section
    class="text-[2rem]
    sm:text-[3.5em]
    md:text-[4.2em]
    lg:text-[5.5em]
    xl:text-[7em]"
>
    <h1 class="font-medium xl:text-[100px] mb-16">
        Who is <span class="text-principal">Gerard</span>?
    </h1>
    <p class="text-[0.5em] leading-[1em]">
        A passionate about technology and the digital world. I studied
        audiovisual systems engineering at UPF in Barcelona, focusing on web
        development. With experience at Tibidabo, Mercadona, and ICF, I'm
        skilled in teamwork, communication, and problem-solving. Let's
        collaborate!
    </p>
</section>
