---

---

<section
    id="aboutme"
    class="text-[2rem]
    sm:text-[2.5em]
    md:text-[3em]
    lg:text-[4em]
    xl:text-[4.5em]"
>
    <h1 class="font-medium xl:text-[100px] mb-16">
        Who is <span class="text-principal">Gerard</span>?
    </h1>
    <p class="text-[0.7em] w-[80%] lg:w-[90%] m-auto leading-[1.2em]">
        I am passionate about technology and the digital world. This passion led
        me to study audiovisual systems engineering at UPF in Barcelona. I
        discovered <span class="font-medium text-principal">
            web development
        </span> during my Bachelor's thesis, where I created a website to help teens
        understand what FoMo is. Since then, I have been working hard to become the
        developer I am today.
    </p>
</section>
