---
import ThemeIcon from "../components/ThemeIcon.astro";
---

<header
    class="w-screen h-[7%] backdrop-blur-md flex items-center fixed border-b-foreground border-b-2 z-20"
>
    <nav class="w-[82%] lg:w-[90%] 2xl:w-[92%] m-auto">
        <ThemeIcon />
    </nav>
</header>
