---

---

<header
    class="h-[100dvh] text-[3em] xl:text-[8em] xl:leading-[8rem] flex flex-col justify-center m-auto"
>
    <h1 class="">Hi! My name is</h1>
    <h1
        class="text-principal text-[3em] leading-[7rem] xl:text-[15.625rem] xl:leading-[14rem] font-medium"
    >
        Gerard Costa
    </h1>
    <h1 class="">
        I'm a <span class="font-medium">Full Stack developer</span>
    </h1>
    <h1 class="">
        and <span class="font-medium text-principal">
            (list of adjectives)
        </span>
    </h1>
</header>
