---

---

<header
    class="flex flex-col justify-center m-auto h-[100dvh] text-[2rem]
    sm:text-[3.5rem] sm:leading-[3.5rem]
    md:text-[4.2rem] md:leading-[4.5rem]
    lg:text-[5.5rem] lg:leading-[5.5rem]
    xl:text-[7.5em] xl:leading-[7.5rem]
    2xl:text-[9em] 2xl:leading-[9rem]"
>
    <h1 class="">Hi! My name is</h1>
    <h1 class="text-principal text-[1.5em] leading-[1em] font-medium">
        Gerard Costa
    </h1>
    <h1 class="text-[0.8em]">
        I'm a <span class="font-medium">Full Stack developer</span>
    </h1>
    <h1 class="text-[0.95em]">
        and <span class="font-medium text-principal">
            (list of adjectives)
        </span>
    </h1>
</header>
