---
import ProjectCard from "./ProjectCard.astro";
import projects from "../lib/projects.json";
import { CarouselDemo } from "./Carousel";

console.log(projects);
---

<CarouselDemo client:load />
<!-- 

<section class="my-32">
    <h1 class="text-[128px] font-medium">Projects</h1>
    <main class="flex flex-col gap-20">
        {projects.map((project) => <ProjectCard project={project} />)}
    </main>
</section>
 -->
