---
import { ProjectsCarusel } from "./islands/Carousel";
---

<section
    class="text-[2rem]
    sm:text-[3.5em]
    md:text-[4.2em]
    lg:text-[5.5em]
    xl:text-[7em]"
>
    <h1 class="font-medium xl:text-[100px] mb-16">Projects</h1>
    <main class="flex flex-col gap-20">
        <ProjectsCarusel client:load />
    </main>
</section>
