---
import techs from "@/lib/techs.json";
import Tech from "./Tech.astro";
---

<section
    class="text-[2rem]
    sm:text-[3.5em]
    md:text-[4.2em]
    lg:text-[5.5em]
    xl:text-[7.5em]
    2xl:text-[9em]"
>
    <h1 class="font-medium xl:text-[100px] mb-16">Skills and tools</h1>
    <main
        class="w-[80%] lg:w-[90%] m-auto grid grid-cols-2 gap-8 md:grid-cols-3 lg:grid-cols-6 xl:grid-cols-9"
    >
        {techs.map((tech) => <Tech tech={tech} />)}
    </main>
</section>
