@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(46.15, 100%, 97.45%);
  --foreground: hsl(34.29, 5.79%, 23.73%);

  --principal: hsl(16.62, 82.98%, 53.92%);
}

html.dark {
  --background: hsl(40, 4.23%, 13.92%);
  --foreground: hsl(37.89, 15.7%, 76.27%);
}

@font-face {
  font-family: "PPNeue";
  src: url("/fonts/PPNeueMontreal-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "PPNeue";
  src: url("/fonts/PPNeueMontreal-Book.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "PPNeue";
  src: url("/fonts/PPNeueMontreal-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "PPNeue";
  src: url("/fonts/PPNeueMontreal-Thin.otf") format("opentype");
  font-weight: 100;
}